h1, .card {
   justify-self: center;
}
.title {
font-size: large;
text-align: center;
}

.Jumbotron {
  padding: 15px !important;
background-color: cadetblue !important;
}
.header {
   background-color: rgb(216, 238, 238) !important;
}
.jum {
     font-family: 'Carter One', cursive !important;
     text-shadow: 2px 2px #FF0000;
}